<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.minted2">

    <!-- add internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- external storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".BookListCSE" />
        <activity android:name=".BookListEEE" />
        <activity android:name=".BookListME" />
        <activity android:name=".BookListIpe" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".Done" />
        <activity android:name=".BookListENG" />
        <activity android:name=".BookListBBA" />
        <activity android:name=".BookListMath" />
        <activity android:name=".BookListChm" />
        <activity android:name=".BookListPhy" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>